.App{
    text-align: center;
    align-items: center;
}
input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #E91E63;
	background: rgba(#E91E63, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #E91E63;
}

input[type=password] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #E91E63;
	background: rgba(#E91E63, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #E91E63;
}

input[type=email] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #E91E63;
	background: rgba(#E91E63, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #E91E63;
}

input[type=checkbox] {
	appearance: none;
  background-color: #fff;
  margin: 0;
	font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #E91E63;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
	display: grid;
  place-content: center;
	&::before {
		content: "";
		width: 0.65em;
		height: 0.65em;
		transform: scale(0);
		transition: 120ms transform ease-in-out;
		box-shadow: inset 1em 1em #E91E63;
		background-color: CanvasText;
		clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
		transform-origin: left top;
	}
	&:checked::before {
		transform: scale(1);
	}
}

input[type=radio] {
	appearance: none;
  background-color: #fff;
  margin: 0;
	font: inherit;
  color: #E91E63;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
	display: grid;
  place-content: center;
	&::before {
		content: "";
		width: 0.65em;
		height: 0.65em;
		border-radius: 50%;
		transform: scale(0);
		transition: 120ms transform ease-in-out;
		box-shadow: inset 1em 1em #E91E63;
		background-color: CanvasText;
		transform-origin: top bottom;
	}
	&:checked::before {
		transform: scale(1);
	}
}

input[type=color] { 
	padding: 0;
	border: none;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	&::-webkit-color-swatch {
		border: none;
		border-radius: 50%;
	}
	&::-webkit-color-swatch-wrapper {
		padding: 0;
	}
}

input[type=range] {
	appearance: none;
	background: transparent;
	width: 8em;
	
}

input[type=button] {
	appearance: none;
	border: .2em solid #E91E63;
	background: hsl(0 0 0/0);
	padding: .85em 1.5em;
	color: #E91E63;
	border-radius: 2em;
	transition: 1s;
	&:hover, &:focus, &:active {
		background: #E91E63;
		color: #fff;
	}
}

input[type=file] { display: none; }
label[for=file] {
	display: grid;
	grid-auto-flow: column;
	grid-gap: .5em;
	justify-items: center;
	align-content: center;
	color: #E91E63;
	border: .2em solid #E91E63;
	background: hsl(0 0 0/0);
	padding: .85em 1.5em;
	color: #E91E63;
	border-radius: 2em;
	transition: 1s;
	&:hover, &:focus, &:active {
		background: #E91E63;
		color: #fff;
	}
}

input[type=date] {
	border: .2em solid #E91E63;
	padding: .8em .9em;
	border-radius: 2em;
	color: #E91E63;
	
	&::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
	
	&::-webkit-inner-spin-button { display: none; }
	&::-webkit-calendar-picker-indicator {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E91E63' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'/%3E%3Cline x1='16' y1='2' x2='16' y2='6'/%3E%3Cline x1='8' y1='2' x2='8' y2='6'/%3E%3Cline x1='3' y1='10' x2='21' y2='10'/%3E%3C/svg%3E"); 
	}
}


input[type=number] {
	width: 3em;
	padding: 0.5em;
	border: .2em solid #E91E63;
	border-radius: 1em;
	text-align: center;
	color: #E91E63;
	appearance: textfield;
	margin: 0;
	&::-webkit-inner-spin-button {
		opacity: 1;
		background: red;
	}
}
.rule{
    border: 1px solid lightgrey;
    width: 50%;
    margin: 10px auto;
}